
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <!-- Wrapper -->
    <div id="wrapper">
        <h2 style="text-align:center">About us</h2>

        <p>Delivery system for restaurant, bars and other places that need help giving orders to customers without interacting with them.
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
        text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software 
        like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <!-- Content -->
        <h2 style="text-align:center">Our Team</h2>
        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="~/images/feelsbadman.jpg" class="aboutIMG" alt="Møller" >
                    <div class="container">
                        <h2 class="aboutName">Rasmus Møller Nielsen</h2>
                        <p class="title">CEO & Founder</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>jane@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="~/images/kppa.png" alt="Simon" class="aboutIMG" >
                    <div class="container">
                        <h2 class="aboutName">Simon Phi Dang</h2>
                        <p class="title">Art Director</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>mike@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="~/images/poggers.jpg" alt="Gustav" class="aboutIMG" >
                    <div class="container">
                        <h2 class="aboutName">Gustav Nørgaard Knudsen</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="~/images/gachigasm.jpg" alt="R2" class="aboutIMG" >
                    <div class="container">
                        <h2 class="aboutName">Rasmus Holm Lund</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="~/images/LUL.jpg" alt="Frederik" class="aboutIMG" >
                    <div class="container">
                        <h2 class="aboutName">Frederik Thomsen</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="~/images/omegalul.jpg.jpg" alt="Bach" class="aboutIMG">
                    <div class="container">
                        <h2 class="aboutName">Christian Bach Johansen</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="~/images/pogchamp.png" alt="Jakob" class="aboutIMG" >
                    <div class="container">
                        <h2 class="aboutName">Jakob Peter Aarestrup</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <img src="~/images/4head.jpg" alt="Lukas" class="aboutIMG" >
                    <div class="container">
                        <h2 class="aboutName">Lukas Kezic</h2>
                        <p class="title">Designer</p>
                        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                        <p>john@example.com</p>
                        <p><button class="button">Contact</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>